:root {
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  background: var(--body-bg-color);
}

.container {
  width: 32.4rem;
  height: 62.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.person {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;

  border: 2px solid var(--purple);
  padding: 0.6rem 0.7rem;
}

.userNameInstagram {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height */

  text-align: center;
  margin-top: 1.5rem;

  color: #bb99dd;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.link {
  width: 32.6rem;
  height: 4.9rem;
  border: 0.2rem solid var(--purple);
  box-sizing: border-box;
  border-radius: 0.4rem;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #bb99dd;

  transition: 0.2s;
}

.link:hover {
  filter: brightness(0.8);
}

.social {
  width: 23.6rem;
  height: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
